# Database Configuration
ORACLE_DRIVER=godror
DB_USER=<db_user>
DB_PASSWORD=<password>
ORACLE_LIB_DIR=<path_to_oracle_instant_client_zip_file>
ORACLE_CONFIG_FILE=$TNS_PATH
ORACLE_CONNECTION_STRING=<atp_connect_string>
TNS_PATH=<path_to_your_wallet>